@* @{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Engineer>;
@model List<Factory.Models.Machine>;

<h1>Engineers and Machines at SillyStringz Factory:</h1>

@if (@Model.Count == 0)
{
  <h3>No engineers have been added yet!</h3>
} 

@foreach (Engineer engineer in Model)
{
  <li>@Html.ActionLink($"{engineer.EngineerName}", "Details", new { id = engineer.EngineerId })</li>
}

<p>@Html.ActionLink("Add new engineer", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>


@if (@Model.Count == 0)
{
  <h3>No machines have been added yet!</h3>
} 

@foreach (Machine machine in Model)
{
  <li>@Html.ActionLink($"{machine.MachineName}", "Details", new { id = machine.MachineId })</li>
}

<p>@Html.ActionLink("Add new machine", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p> *@


@* - I can't figure out how to display 2 lists from 2 different models.
Do i need to create a new model that contains both lists in order 
to access engineers and machines?  Would I need to add anything to the controllers?
If so, would I just be adding it to the index or creating a new section for 'show'? *@